table {
  border-collapse: collapse;
}

table,
th,
td {
  border: 1px solid gainsboro;
}

th,
td {
  padding: 3px;
  text-align: left;
}

.report-header-container {
  height: 250px;
  overflow: auto;
}

.mat-table-sticky {
  background: #59abfd;
  opacity: 1;
}

.mat-column-dispField {
  min-width: 400px;
  padding: 0 8px;
  font-size: 15px;
  font-weight: bold;
  text-align: center;
}

/* .mat-column-JAN,
.mat-column-FEB,
.mat-column-MAR,
.mat-column-APR,
.mat-column-MAY,
.mat-column-JUN,
.mat-column-JUL,
.mat-column-AUG,
.mat-column-SEP,
.mat-column-OCT,
.mat-column-NOV,
.mat-column-DEC {
  padding: 0 8px;
  font-size: 10px;
  text-align: center;
} */

.mat-card {
  font-size: large;
  font-weight: bold;
  background-color: #2e86c1;
  color: white;
}

.mat-header-cell,
.mat-footer-cell,
.mat-cell {
  min-width: 80px;
  box-sizing: border-box;
}

.mat-header-row,
.mat-footer-row,
.mat-row {
  min-width: 1920px; /* 24 columns, 80px each */
}
