.report-header-container {
  height: 100%;
  overflow: auto;
}

.mat-table-sticky {
  background: #59abfd;
  opacity: 1;
}

.mat-column-JAN,
.mat-column-FEB,
.mat-column-MAR,
.mat-column-APR,
.mat-column-MAY,
.mat-column-JUN,
.mat-column-JUL,
.mat-column-AUG,
.mat-column-SEP,
.mat-column-OCT,
.mat-column-NOV,
.mat-column-DEC {
  padding: 0 8px;

  text-align: center;
}

.mat-card {
  font-size: large;
  font-weight: bold;
  background-color: #2e86c1;
  color: white;
}

.mat-header-cell,
.mat-footer-cell,
.mat-cell {
  min-width: 80px;
  box-sizing: border-box;
  border-style: solid;
  border-width: thin;
  border-color: antiquewhite;
}

.mat-header-row,
.mat-footer-row,
.mat-row {
  min-width: 1920px;
}
