table {
  border-collapse: collapse;
}

table,
th,
td {
  border: 1px solid gainsboro;
}

th,
td {
  padding: 3px;
  text-align: left;
}

.income-first-column {
  width: 200px;
  font-weight: bold;
}

.income-input {
  width: 50px;
}

.income-input-header {
  width: 58px;
}

.income-input-comment {
  width: 258px;
}

.example-container {
  height: 400px;
  overflow: auto;
}

.mat-table-sticky {
  background: #59abfd;
  opacity: 1;
}

.example-sticky-toggle-group {
  margin: 8px;
}

.mat-column-filler {
  padding: 0 8px;
  font-size: 10px;
  text-align: center;
}

.mat-header-cell,
.mat-footer-cell,
.mat-cell {
  min-width: 80px;
  box-sizing: border-box;
}

.mat-header-row,
.mat-footer-row,
.mat-row {
  min-width: 1920px; /* 24 columns, 80px each */
}
