<div id="header">
  <table>
    <tr>
      <th class="income-first-column"></th>
      <th class="income-input-header">JAN</th>
      <th class="income-input-header">FEB</th>
      <th class="income-input-header">MAR</th>
      <th class="income-input-header">APR</th>
      <th class="income-input-header">MAY</th>
      <th class="income-input-header">JUN</th>
      <th class="income-input-header">JUL</th>
      <th class="income-input-header">AUG</th>
      <th class="income-input-header">SEP</th>
      <th class="income-input-header">OCT</th>
      <th class="income-input-header">NOV</th>
      <th class="income-input-header">DEC</th>
      <th class="income-input-header">Total</th>
      <th class="income-input-header">Avg</th>
    </tr>
  </table>
</div>
<div id="income">
  <table>
    <tr>
      <td class="income-first-column">Wages</td>
      <td><input class="income-input" type="text" /></td>
      <td><input class="income-input" type="text" /></td>
      <td><input class="income-input" type="text" /></td>
      <td><input class="income-input" type="text" /></td>
      <td><input class="income-input" type="text" /></td>
      <td><input class="income-input" type="text" /></td>
      <td><input class="income-input" type="text" /></td>
      <td><input class="income-input" type="text" /></td>
      <td><input class="income-input" type="text" /></td>
      <td><input class="income-input" type="text" /></td>
      <td><input class="income-input" type="text" /></td>
      <td><input class="income-input" type="text" /></td>
      <td><input class="income-input" disabled type="text" /></td>
      <td><input class="income-input" disabled type="text" /></td>
    </tr>
    <tr>
      <td class="income-first-column">Intrest Income</td>
      <td><input class="income-input" type="text" /></td>
      <td><input class="income-input" type="text" /></td>
      <td><input class="income-input" type="text" /></td>
      <td><input class="income-input" type="text" /></td>
      <td><input class="income-input" type="text" /></td>
      <td><input class="income-input" type="text" /></td>
      <td><input class="income-input" type="text" /></td>
      <td><input class="income-input" type="text" /></td>
      <td><input class="income-input" type="text" /></td>
      <td><input class="income-input" type="text" /></td>
      <td><input class="income-input" type="text" /></td>
      <td><input class="income-input" type="text" /></td>
      <td><input class="income-input" disabled type="text" /></td>
      <td><input class="income-input" disabled type="text" /></td>
    </tr>
    <tr>
      <td class="income-first-column">Dividends</td>
      <td><input class="income-input" type="text" /></td>
      <td><input class="income-input" type="text" /></td>
      <td><input class="income-input" type="text" /></td>
      <td><input class="income-input" type="text" /></td>
      <td><input class="income-input" type="text" /></td>
      <td><input class="income-input" type="text" /></td>
      <td><input class="income-input" type="text" /></td>
      <td><input class="income-input" type="text" /></td>
      <td><input class="income-input" type="text" /></td>
      <td><input class="income-input" type="text" /></td>
      <td><input class="income-input" type="text" /></td>
      <td><input class="income-input" type="text" /></td>
      <td><input class="income-input" disabled type="text" /></td>
      <td><input class="income-input" disabled type="text" /></td>
    </tr>
    <tr>
      <td class="income-first-column">Gift Received</td>
      <td><input class="income-input" type="text" /></td>
      <td><input class="income-input" type="text" /></td>
      <td><input class="income-input" type="text" /></td>
      <td><input class="income-input" type="text" /></td>
      <td><input class="income-input" type="text" /></td>
      <td><input class="income-input" type="text" /></td>
      <td><input class="income-input" type="text" /></td>
      <td><input class="income-input" type="text" /></td>
      <td><input class="income-input" type="text" /></td>
      <td><input class="income-input" type="text" /></td>
      <td><input class="income-input" type="text" /></td>
      <td><input class="income-input" type="text" /></td>
      <td><input class="income-input" disabled type="text" /></td>
      <td><input class="income-input" disabled type="text" /></td>
    </tr>
    <tr>
      <td class="income-first-column">Refund/Reimbursements</td>
      <td><input class="income-input" type="text" /></td>
      <td><input class="income-input" type="text" /></td>
      <td><input class="income-input" type="text" /></td>
      <td><input class="income-input" type="text" /></td>
      <td><input class="income-input" type="text" /></td>
      <td><input class="income-input" type="text" /></td>
      <td><input class="income-input" type="text" /></td>
      <td><input class="income-input" type="text" /></td>
      <td><input class="income-input" type="text" /></td>
      <td><input class="income-input" type="text" /></td>
      <td><input class="income-input" type="text" /></td>
      <td><input class="income-input" type="text" /></td>
      <td><input class="income-input" disabled type="text" /></td>
      <td><input class="income-input" disabled type="text" /></td>
    </tr>
    <tr>
      <td class="income-first-column">Transfer From Savings</td>
      <td><input class="income-input" type="text" /></td>
      <td><input class="income-input" type="text" /></td>
      <td><input class="income-input" type="text" /></td>
      <td><input class="income-input" type="text" /></td>
      <td><input class="income-input" type="text" /></td>
      <td><input class="income-input" type="text" /></td>
      <td><input class="income-input" type="text" /></td>
      <td><input class="income-input" type="text" /></td>
      <td><input class="income-input" type="text" /></td>
      <td><input class="income-input" type="text" /></td>
      <td><input class="income-input" type="text" /></td>
      <td><input class="income-input" type="text" /></td>
      <td><input class="income-input" disabled type="text" /></td>
      <td><input class="income-input" disabled type="text" /></td>
    </tr>
  </table>
</div>