<div fxLayout="row" fxLayout.xs="column" fxLayoutWrap fxLayoutGap="0.5%" fxLayoutAlign="center"
  class="example-container" *ngIf="!post; else forminfo" novalidate>

  <form [formGroup]="formGroup" (ngSubmit)="onSubmit(formGroup.value)" class="form">
    <div>
      <!-- expense title -->
      <mat-form-field class="form-element" [style.width.px]=327>
        <input matInput placeholder="Expense Information" formControlName="expense">
        <mat-error *ngIf="!formGroup.controls['expense'].valid && formGroup.controls['expense'].touched">
          {{ getErrorExpense() }}
        </mat-error>
      </mat-form-field>

      <!-- amount field -->
      <mat-form-field class="form-element" [style.width.px]=127>
        <input type="number" matInput placeholder="Amount &#8377;" formControlName="amount">
        <mat-error *ngIf="!formGroup.controls['amount'].valid && formGroup.controls['amount'].touched">
          {{ amountAlert }}
        </mat-error>
      </mat-form-field>

    </div>

    <!-- comment field -->
    <mat-form-field class="form-element" [style.width.px]=474>
      <input matInput placeholder="Comment" formControlName="comment">
      <mat-error *ngIf="!formGroup.controls['comment'].valid && formGroup.controls['comment'].touched">
        {{ commentAlert }}
      </mat-error>
    </mat-form-field>



    <!-- frequently used expense category -->
    <div>
      <label style="color:gray">Choose expense category : </label>
    </div>
    <br />
    <mat-chip-list formControlName="category">
      <mat-chip *ngFor="let category of categories" #chip="matChip"
        (click)="category.selected ? chip.deselect() : chip.selectViaInteraction()" [selected]="category.selected"
        (selectionChange)="changeSelected($event, category)" class="leadr-category-chip {{category.class}}"
        matTooltip="{{category.group}}">
        {{category.name}}
      </mat-chip>
    </mat-chip-list>
    <br />

    <div hidden>
      <input type="hidden" formControlName="categoryId">
    </div>

    <!--slide toggel-->
    <!-- others, when selected dropdown populates all category -->
    <div hidden fxFlex="50%">
      <mat-slide-toggle>Other Category</mat-slide-toggle>
    </div>

    <!--slide toggel-->
    <div hidden fxFlex="50%">
      <mat-slide-toggle>EMI</mat-slide-toggle>
    </div>


    <br />
    <!--submit button-->
    <div fxFlex="50%">
      <div class="form-element">
        <button mat-raised-button color="primary" type="submit" class="button" [disabled]="!formGroup.valid">Submit
          Form</button>
      </div>
    </div>

  </form>
</div>



<!--form data : JSON format-->
<ng-template #forminfo>
  <div class="container">
    {{ post | json }}
  </div>
</ng-template>