<mat-toolbar color="primary">
  <mat-toolbar-row>
    <button mat-icon-button>
      <mat-icon>menu</mat-icon>
    </button>
    <h1>Personal Budget</h1>
    <span class="menu-spacer"></span>
    <div>
      <a mat-button [routerLink]="'/dashboard'"> Dashboard </a>
      <a mat-button [routerLink]="'/current-expense'"> Current Expenses </a>
      <a mat-button [routerLink]="'/monthly-expense'"> Monthly Expenses </a>
      <a mat-button [routerLink]="'/accounts'"> Accounts </a>
      <a mat-button [routerLink]="'/create-account'"> Create Account </a>
      <a mat-button [routerLink]="'/category'"> Category </a>
      <a mat-button [routerLink]="'/group'"> Groups </a>
      <a mat-button [routerLink]="'/activities'"> Rules </a>
      <a mat-button [routerLink]="'/create-activity'"> Create Rules </a>
    </div>
  </mat-toolbar-row>
</mat-toolbar>
<div class="basic-container">
  <router-outlet></router-outlet>
  <span class="version-info">Current build: 10.1.3</span>
</div>